<section class="userspage">
    <h3>All users</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>user</th>
            <th>password</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in Users">
            <td>{{ x._id }}</td>
            <td>{{ x.username}}</td>
            <td>{{ x.password}}</td>
        </tr>
        </tbody>
    </table>
</section>
<h1>{{Title}}</h1>
<form role="form" name="authenticateForm" novalidate ng-submit="submit()">
    <div class="form-group">
        <label for"username">Username:</label>
        <input type="text" class="form-control" name="user" ng-model="formData.username" required>
            <span style="color:#ff0000" ng-show="registerForm.user.$dirty && registerForm.user.$invalid">
                <span ng-show="registerForm.user.$error.required">Username is required.</span>
            </span>
    </div>

    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password" ng-model="formData.password" required>
            <span style="color:#ff0000" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                <span ng-show="registerForm.password.$error.required">Password is required.</span>
            </span>
    </div>
    <button type="submit" class="btn btn-sucess" ng-click="authenticateUser()">Register</button>
</form>
<p>form = {{formData }}</p>
<p>response = {{response}}</p>
<p>dateResponse = {{data}}</p>
